body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: grey;
}

form {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #333333;
    font-size: 14px;
}

.link:hover {
    color: #4CAF50;
}

/* ----------------------------NAV BAR CSS--------------------------  */
header{
    box-sizing: border-box;
    background-color: #24252a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 2%;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span{
    color: lightgrey;
    font-size: 30px;
    margin-left: 15px;
}

.logo img{
    border-radius: 50px;
}

.links{
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0px 10px;
    margin-left: 10px;
}

.links li a{
    transition: all 0.3s ease 0s;
}

.links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}