body {
    background-color: grey;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #333333;
    /* change the color to black */
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    padding: 15px;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-top: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="address"],
  input[type="city"],
  input[type="state"],
  input[type="zip"] {
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #008000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
  }

  input[type="submit"]:hover {
    background-color: #006600;
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

/* ----------------------------NAV BAR CSS--------------------- */
  header{
    box-sizing: border-box;
    background-color: #24252a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 2%;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span{
    color: lightgrey;
    font-size: 30px;
    margin-left: 15px;
}

.logo img{
    border-radius: 50px;
}

.links{
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0px 10px;
    margin-left: 10px;
}

.links li a{
    transition: all 0.3s ease 0s;
}

.links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}