/* styling that affects anything within the body of the html code */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

/* general styling for the .image-container class  */
.image-container{ /* referencing the image-container class */
    text-align: center;
}

/* styling for anything that starts with the "img" tag in the ".image-container" class */
.image-container img{ /* referencing anything with the "img" tag within the image-container class */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: lightgrey;
    width: 300px;
    height: 300px;
}

/* Button styling  */
.btn{ /* referencing the button by its class */
    background-color: purple;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8-x rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* action changes when hovering the mouse over the button */
.btn:hover{
    opacity: 0.7;
}